<div>
    <div class="p-2 mx-1">
        <div class=" flex flex-col gap-2 ">
            <div class="border-4 p-1 rounded-full w-24 h-24  mx-12 ml-12">
                <img src="{{profile}}" class="rounded-full object-cover h-20 w-20 hover:scale-105 transition-all cursor-pointer  " >
            </div>
            <div class="items-center mx-6 align-middle">
                <h1 class="text-center -mx-6 text-2xl">
                    {{name}}
                </h1>
                <h2 class="text-sm">
                    {{email}}
                </h2>   
            </div>
        </div>
        <div>

        </div>
    </div>
</div>